<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if logged_in? %>
    <nav>
      <p>
        Logged in as: <%= current_user.email %>
      </p>
      <%= button_to "Log Out", session_url, method: :delete %>
    </nav>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
